.esg-panel
	background-color: #454545
	margin-left: -7px
	margin-right: -7px
	margin-top: 27px
	
	.esg-filter
		background-color: #333
		padding-left: 13px

		li
			margin: 0
			transform: skewX(-30deg)
			border-left: solid 1px rgba(255, 255, 255, 0.2)

			&.active
				background-color: #454545
				border: none

			a
				background: none
				transform: skewX(30deg)

				&:hover
					background: none

		a
			color: #fff

	.esg-iso
		margin-top: 15px
		margin-top: 15px
		height: 133px

	.esg-paging
		margin: 15px 0 0 0