.items-section
	border: none
	margin: 10px 7px 0 7px

	.heading
		border: none
		border-left: solid 5px #009a99
		border-radius: 0
		font-size: 1.5em
		padding: 0 0 0 10px

	.items

		.item-content
			width: 340px
			margin: 15px 28px 15px 0
			float: left

			img
				width: 90px
				margin-right: 10px
				margin-bottom: 10px
				float: left

			.more
				text-align: right

				.btn-more
					background-color: #009a99
					padding: 5px 10px
					color: #fff