.section-7
	display: flex
	justify-content: space-between

	.box
		background-color: red
		width: 200px

	#mailing-sub
		background: none
		padding: 6px
		width: 378px
		margin-left: 15px

		h3
			font-weight: 800
			text-transform: uppercase
			font-size: 19px
			margin-bottom: 20px

		label
			font-weight: 100

		input
			height: 38px

		.btn
			background-color: #f7c51e
			border: none
			font-size: 17px
			text-transform: uppercase
			height: 43px