#top-nav
	width: 572px
	//background-color: rgba(139, 140, 142, 0.3)
	background: #ffffff linear-gradient(to top,#ffffff,#efefef)
	box-shadow: 0 0 4px rgba(157, 157, 157, 0.2), 0 3px 20px rgba(157, 157, 157, 0.35)
	margin: 0 auto
	position: absolute
	z-index: 99
	left: (1150px - 572px) / 2
	top: 110px
	margin: 0
	border-radius: 0
	border:none !important

	li.main-menu
		border-left: solid 2px rgba(255, 255, 255, 0.7)
		transform: skewX(-30deg)

		&:last-child
			border-right: solid 2px #fff

		a
			color: #000
			background: none

		> a			
			font-size: 1.4em
			transform: skewX(30deg)

		ul.dropdown-menu
			background-color: #fff
			border: solid 1px #ddd
			border-radius: 0
			box-shadow: none
			transform: skewX(30deg)
			transform-origin: top left

			a			
					font-size: 15px
					font-weight: 100

		&.open
			a, a:hover
				background: none

			ul			
				height: 200px
				display: flex
				flex-direction: column
				flex-wrap: wrap
